# ============================================
# Crime Risk Analysis Mexico
# Files excluded from GitHub
# ============================================

# Raw datasets
data/raw/*

# Keep the folder in the repository
!data/raw/.gitkeep

# Python / Jupyter temporary files
.ipynb_checkpoints/
__pycache__/
*.pyc

# Windows
Thumbs.db
Desktop.ini

# Temporary files
*.tmp
~$*

# Power BI temporary files
*.pbitmp